<!DOCTYPE html>
<html>
<head>
  <title>Results</title>
  <meta charset="UTF-8">
  <meta name="description" content="Rock Paper Scissors Game">
  <meta name="keywords" content="HTML,CSS,Ruby,Sinatra,Web Game">
  <meta name="author" content="Marcin Balejko">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="oNline Web Fonts" content="http://www.onlinewebfonts.com">
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" > 
</head>
<body>
  <header>
  </header>
  <div class="grid-results">
    <div></div>
    <div id="fade-in" class="results-header">Results</div>
    <div></div>
    <div class="rbox-1">
      <%if $game.player_1.choice == "rock"%>
      <img style="max-width: 100px; max-height: 100px;" src="images/hand-rock-solid.svg">
      <%elsif $game.player_1.choice == "paper"%>
      <img style="max-width: 100px; max-height: 100px;" src="images/hand-paper-solid.svg">
      <%elsif $game.player_1.choice == "scissors"%>
      <img style="max-width: 100px; max-height: 100px;" src="images/hand-peace-solid.svg">
      <%end%> 
    </div>
    <div class="rbox-2"><img style="max-width: 100px; max-height: 100px;" src="images/044c2e0d34d94c422d285427c1c0ba06.svg" ></div>
    <div class="rbox-3">
      <% $game.selector%>
      <%if $game.selector_result == "rock"%>
      <img style="max-width: 100px; max-height: 100px;" src="images/hand-rock-solid.svg">
      <%elsif $game.selector_result == "paper"%>
      <img style="max-width: 100px; max-height: 100px;" src="images/hand-paper-solid.svg">
      <%elsif $game.selector_result == "scissors"%>
      <img style="max-width: 100px; max-height: 100px;" src="images/hand-peace-solid.svg">
      <%end%>
    </div>
    <div></div>
    <div class="results-win-lose">
      <%if $game.player_1.choice == "rock" && $game.selector_result == "rock" %>
        We have a draw!
      <%elsif $game.player_1.choice == "rock" && $game.selector_result == "paper" %>
        You lost, <%= $game.player_1.name %> ...
      <%elsif $game.player_1.choice == "rock" && $game.selector_result == "scissors" %>
        You won, <%= $game.player_1.name %>!
      <%elsif $game.player_1.choice == "paper" && $game.selector_result == "paper" %>
        We have a draw!
      <%elsif $game.player_1.choice == "paper" && $game.selector_result == "scissors" %>
        You lost, <%= $game.player_1.name %> ...
      <%elsif $game.player_1.choice == "paper" && $game.selector_result == "rock" %>
        You won, <%= $game.player_1.name %>!
      <%elsif $game.player_1.choice == "scissors" && $game.selector_result == "scissors" %>
        We have a draw!
      <%elsif $game.player_1.choice == "scissors" && $game.selector_result == "rock" %>
        You lost, <%= $game.player_1.name %> ...
      <%elsif $game.player_1.choice == "scissors" && $game.selector_result == "paper" %>
        You won, <%= $game.player_1.name %>!
      <%end%>
        <form id="try_again_btn" action='/try_again' method="get">
          <input class="button" type="submit" value="Try Again">
        </form>
    </div>
    <div></div>
    </div>
</body>
</html>